
/* Commentaire du code ignoré avec slash etoile */



/* Sélecteur d'élément */
h1 {
    color: red;  /* mettre le niveau de titre 1 en rouge*/
    font-size: 60px;
    text-align: center;
  
}
h2 {
    color: blue;  /* mettre le niveau de titre 1 en rouge*/
    font-size: 45px;
    text-align: left;
  
}
/* Sélecteur de classe */
.important {
    font-weight: bold;  /*met en gras*/
}

/* Sélecteur d'ID */
#citation {
    padding: 20px;
    color: grey;
}
p1 {
    color: black;  /* mettre le niveau de titre 1 en rouge*/
    font-size: 25px;
    text-align: left;
  
}

p {
    background-color: #FBF8F6;

}
