/* Réinitialisation globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

/* Corps */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #2F4F4F; /* Vert foncé */
  background-color: #FFFFFF; /* Fond blanc */
  padding: 0;
}

/* En-tête */
header {
  background-color: #FFFFF; /* Vert forêt */
  text-align: center;
  padding: 40px 20px;
  color: #228B22; /* Texte blanc */
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Style de l'image du header */
.profile-img {
    width: 150px;  /* Taille de l'image */
    height: auto;  /* Proportions maintenues */
    border-radius: 50%;  /* Forme ronde */
    border: 3px solid #333;  /* Bordure */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Ombre légère */
    display: block;  /* Affichage en bloc */
    margin: 0 auto;  /* Centrage horizontal */
}

/* Effet au survol */
.profile-img:hover {
    transform: scale(1.1);  /* Zoom */
    transition: transform 0.3s ease;  /* Transition fluide */
}
}

header .btn {
  margin-top: 15px;
  display: inline-block;
  background-color: #2F4F4F; /* Vert foncé */
  color: #FFFFFF; /* Texte blanc */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

header .btn:hover {
  background-color: #006400; /* Vert très foncé */
}

/* Navigation */
nav {
  background-color: #006400; /* Vert très foncé */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF; /* Texte blanc */
  font-size: 1rem;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sections principales */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 2rem;
  color: #228B22; /* Vert forêt */
  margin-bottom: 10px;
}

section p, section ul {
  font-size: 1rem;
  color: #2F4F4F; /* Vert foncé */
}

ul li {
  margin-bottom: 5px;
}

/* Pied de page */
footer {
  background-color: #2F4F4F; /* Vert foncé */
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 0.9rem;
}
